# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [2]:
# import libraries
import pandas as pd
import numpy as np
import re

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import dataset
pokemon = pd.read_csv("pokemon.csv")
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
# your code here
display(pokemon['Type 1'].value_counts())
display(pokemon['Type 2'].value_counts())

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [6]:
type1array = pokemon['Type 1'].unique() 
type2array =  pokemon['Type 1'].unique()
type1and2array = set(np.concatenate((type1array,type2array),axis=0, out=None, dtype=None, casting="same_kind"))
type1and2array

{'Bug',
 'Dark',
 'Dragon',
 'Electric',
 'Fairy',
 'Fighting',
 'Fire',
 'Flying',
 'Ghost',
 'Grass',
 'Ground',
 'Ice',
 'Normal',
 'Poison',
 'Psychic',
 'Rock',
 'Steel',
 'Water'}

In [7]:
typeset = set(np.concatenate((pokemon['Type 1'],pokemon['Type 1']),axis=0, out=None, dtype=None, casting="same_kind"))
typearray = np.array(typeset , dtype=None, copy=True)
typearray

array({'Normal', 'Fire', 'Poison', 'Grass', 'Bug', 'Electric', 'Psychic', 'Rock', 'Water', 'Fairy', 'Dragon', 'Dark', 'Ground', 'Ghost', 'Ice', 'Fighting', 'Steel', 'Flying'},
      dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [8]:
# your code here
pokemon['Name_new']= pokemon['Name'].str.extract(r'(\d{2}\s+to\s+\d{2})',flags=0, expand=False)
pokemon

# test transformed data
#pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name_new
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,NaN
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,NaN
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,NaN
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,NaN
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,NaN

In [9]:
pokemon['Name'].str.contains('Mega', na=False, regex=True)

0      False
1      False
2      False
3       True
4      False
       ...
795    False
796     True
797    False
798    False
799    False
Name: Name, Length: 800, dtype: bool

In [10]:
 pokemon['Name'].str.split("Mega", n=1, expand=True)

                       0          1
0              Bulbasaur       None
1                Ivysaur       None
2               Venusaur       None
3               Venusaur   Venusaur
4             Charmander       None
..                   ...        ...
795              Diancie       None
796              Diancie    Diancie
797  HoopaHoopa Confined       None
798   HoopaHoopa Unbound       None
799            Volcanion       None

[800 rows x 2 columns]

In [11]:
pokemon[pokemon['Name'].str.contains('Mega', na=False, regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name_new
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,NaN
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,NaN
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,NaN
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,NaN
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,NaN
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,NaN
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False,NaN
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False,NaN
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False,NaN
124,115,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False,NaN
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False,NaN
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False,NaN
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False,NaN
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,NaN
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,NaN
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False,NaN
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False,NaN
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False,NaN
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False,NaN
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False,NaN
248,229,HoundoomMega Houndoom,Dark,Fire,600,75,90,90,140,90,115,2,False,NaN
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False,NaN
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False,NaN
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False,NaN
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False,NaN
306,282,GardevoirMega Gardevoir,Psychic,Fairy,618,68,85,65,165,135,100,3,False,NaN
327,302,SableyeMega Sableye,Dark,Ghost,480,50,85,125,85,115,20,3,False,NaN
329,303,MawileMega Mawile,Steel,Fairy,480,50,105,125,55,95,50,3,False,NaN
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False,NaN
336,308,MedichamMega Medicham,Fighting,Psychic,510,60,100,85,80,85,100,3,False,NaN
339,310,ManectricMega Manectric,Electric,NaN,575,70,75,80,135,80,135,3,False,NaN
349,319,SharpedoMega Sharpedo,Water,Dark,560,70,140,70,110,65,105,3,False,NaN
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False,NaN
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False,NaN
387,354,BanetteMega Banette,Ghost,NaN,555,64,165,75,93,83,75,3,False,NaN
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False,NaN
397,362,GlalieMega Glalie,Ice,NaN,580,80,120,80,120,80,100,3,False,NaN
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False,NaN
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False,NaN
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True,NaN
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True,NaN
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,NaN
476,428,LopunnyMega Lopunny,Normal,Fighting,580,65,136,94,54,96,135,4,False,NaN
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False,NaN
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False,NaN
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False,NaN
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False,NaN
591,531,AudinoMega Audino,Normal,Fairy,545,103,60,126,80,126,50,5,False,NaN
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,NaN

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [12]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name_new,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,NaN,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,NaN,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,1.209302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,NaN,0.666667
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,NaN,1.454545
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,NaN,1.833333
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,NaN,2.666667
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,NaN,0.916667

#### Identify the pokemon with the highest `A/D Ratio`.

In [13]:
# your code here

pokemon['A/D Ratio'].max()

9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [14]:
# your code here
pokemon['A/D Ratio'].min()

0.043478260869565216

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [15]:
pokemon['Combo Type'] = pokemon['Type 1'].map(str) + '-' + pokemon['Type 2'].map(str)
pokemon['Combo Type'] = pokemon['Combo Type'].str.replace("-nan","")
pokemon['Combo Type'] = pokemon['Combo Type'].str.replace("nan-","")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name_new,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,NaN,0.987952,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,NaN,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [16]:
# your code here
pokemon[['Name','A/D Ratio']].nlargest(5,'A/D Ratio')

                      Name  A/D Ratio
429     DeoxysAttack Forme      9.000
347               Carvanha      4.500
19   BeedrillMega Beedrill      3.750
453               Cranidos      3.125
348               Sharpedo      3.000

In [17]:
top5pokemonratio = pokemon[['Name','A/D Ratio']].sort_values('A/D Ratio',ascending=False).head(5)
top5pokemonratio

                      Name  A/D Ratio
429     DeoxysAttack Forme      9.000
347               Carvanha      4.500
19   BeedrillMega Beedrill      3.750
453               Cranidos      3.125
348               Sharpedo      3.000

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [18]:
# your code here
#top5pokemonratio
listtop5 = pokemon[['Name','A/D Ratio','Combo Type']].nlargest(5,'A/D Ratio')
list_top5 = list(listtop5['Combo Type'] )
list_top5

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock', 'Water-Dark']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [25]:
combotypes = pokemon.groupby('Combo Type').agg('mean').reset_index()
combotypes

,Combo Type,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,Bug,361.352941,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588,0.0,0.940179
1,Bug-Electric,595.500000,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0,1.111667
2,Bug-Fighting,214.000000,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0,1.637681
3,Bug-Fire,636.500000,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0,1.234266
4,Bug-Flying,286.285714,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0,1.146274
...,...,...,...,...,...,...,...,...,...,...,...,...
149,Water-Ice,103.000000,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.0,0.821759
150,Water-Poison,118.666667,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,0.0,1.162149
151,Water-Psychic,111.800000,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.0,0.783668
152,Water-Rock,430.000000,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.0,0.727170
153,Water-Steel,395.000000,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.0,0.977273

In [29]:
combotypes[combotypes['Combo Type'].isin(list_top5)]

,Combo Type,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
8,Bug-Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315989
109,Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196
117,Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260091
140,Water-Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291949